<!doctype html>
<html lang="en">
<head>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Select a Coffee Drink</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <select id="drinks" class="form-control" onchange="displayDrinkInfo()">
                    <option value="">--Select a drink--</option>
                    {% for drink in drinks %}
                        <option value="{{ drink.id }}" {% if drink.title == black_coffee.title %}selected{% endif %}>{{ drink.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="instructions" class="mt-5">
            <h2 id="drink-title" class="text-center">{{ black_coffee.title }}</h2>
            <img id="drink-img" class="img-fluid rounded mx-auto d-block" src="{{ black_coffee.image }}" alt="Coffee Drink">
            <p id="drink-description" class="mt-3">{{ black_coffee.description }}</p>
            <h4>Ingredients:</h4>
            <ul id="drink-ingredients">
                {% for ingredient in black_coffee.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        var drinks = {{ drinks | tojson }};
        
        function displayDrinkInfo() {
            var selectedDrinkId = $('#drinks').val();
            var selectedDrink = drinks.find(drink => drink.id == selectedDrinkId);
            $('#drink-title').text(selectedDrink.title);
            $('#drink-img').attr('src', selectedDrink.image);
            $('#drink-description').text(selectedDrink.description);
            $('#drink-ingredients').empty();
            selectedDrink.ingredients.forEach(ingredient => {
                $('#drink-ingredients').append(`<li>${ingredient}</li>`);
            });
        }
    </script>
</body>
</html>
